:root {
    --primary-color: #858585;
    --secondary-color: #FFFFFF;
    --tertiary-color: #006400;	
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: Georgia, 'Times New Roman', Times, serif
}

/* Header/Nav */

header {
    display: flex;
    padding: 20px 35px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(../images/pexels-iconcom-479444.jpg);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99999;
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    color: var(--tertiary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 12px 20px;
    font-weight: bold;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 25%;
}

/* Hero Start */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../images/pexels-iconcom-479444.jpg);
    background-size: cover;
    background-position: 800%;
    background-attachment: fixed;
}

.hero-motto {
    width: 30%;
    text-align: start;
}

.hero-motto h2 {
    font-style: italic;
    font-size: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

p {
    font-size: 18px;
}

/* global tags for entire about me, work, skills and contact columns */
section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.column {
    flex: 50%;
}
.section-title {
    text-align: center;
    padding: 30px;
    margin: 30px 0; 
    font-size: 48px;
    color: var(--tertiary-color);
    border-right: 3px solid;
}
.img-column, .img-column iframe {
    text-align: center;
}
/* About Me */

#about-me p {
    padding: 30px;
    font-size: 25px;
    text-align: center;
}

/* My Work */

#my-work img {
    opacity: 0.4;
  
}

#my-work img:hover {
    opacity: 1;
}

/* Skills */

#skills ul li {
    margin: 20px 0 20px 30px;
    padding: 20px;
    font-size: 25px;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

/* Contact Me */

iframe {
    margin: 0 auto;
}


/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(../images/pexels-iconcom-479444.jpg);
    background-size: cover;
    background-position: 80%;
    padding: 15px;
}

footer h3 {
    font-size: 28px;
    color: var(--tertiary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer div {
    line-height: 1.5;
    text-align: right;
}

@media only screen and (max-width: 768px) {
    section {
        flex-direction: column;
    }
    
}